<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
  </apikeys>
  <packageSources>
    <add key="SuperJMN ReSharper" value="https://www.myget.org/F/superjmnresharper/" />
    <add key="NuGet official package source" value="https://www.nuget.org" />
  </packageSources>
</configuration>